<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div>
          <a href="#" class="flex items-center py-4 px-2">
            <img src="assets/images/burger-1.jpg" alt="Logo" class="h-8 w-8 mr-2">
            <span class="font-semibold text-gray-500 text-lg">CINAYE BURGER</span>
          </a>
        </div>
      </div>
      <div class="hidden md:flex items-center space-x-3">
        <a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Accueil</a>
        <a href="/menu" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Menu</a>
        <a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">À propos</a>
        <a href="/login" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Login</a>
        <a href="" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Contact</a>
      </div>
    </div>
  </div>
</nav>
